<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

  {% include "slidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% include "topbar.html" %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>


          <!-- Content Row -->
          <div class="row">

              <!-- Camera -->
              <div class="col-lg-4 mb-4">
                
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Real-time Analytics</h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center px-3">
                        <img id="bg" class="img-fluid mt-2 mb-4" src="{{ url_for('video_feed') }}" style="width: 100%; border-radius: 5px;" alt="">
                    </div>
                    <p>TODO: Add more description
                      <a target="_blank" rel="nofollow" href="{{ url_for('video_feed') }}">see more</a></p>
                    
                    <a target="_blank" rel="nofollow" href="{{ url_for('video_feed') }}">Open camera in new tab &rarr;</a>
                  </div>
                </div>
                
              </div>


              <!-- Camera -->
              <div class="col-lg-4 mb-4">
  
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Real-time Analytics</h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center px-3">
                        <img id="bg" class="img-fluid mt-2 mb-4" src="{{ url_for('video_feed') }}" style="width: 100%; border-radius: 5px;" alt="">
                    </div>
                    <p>TODO: Add more description
                      <a target="_blank" rel="nofollow" href="{{ url_for('video_feed') }}">see more</a></p>
                    
                    <a target="_blank" rel="nofollow" href="{{ url_for('video_feed') }}">Open camera in new tab &rarr;</a>
                  </div>
                </div>
                
              </div>

            </div>


          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-8">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">People Counting</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-lg-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Population Proportion</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Patient
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Staff
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Other
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Skymind Thailand 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  {% include "bottom.html" %}

</body>

</html>
